body {
    background-color: #686465;
}
.listas{
    font-weight: bold;
    font-size: 20px;
    
}
.psi{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}